@font-face { font-family: 'plumbbold'; src: url("../fonts/plumb-webfont.eot"); src: url("../fonts/plumb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-webfont.woff") format("woff"), url("../fonts/plumb-webfont.ttf") format("truetype"), url("../fonts/plumb-webfont.svg#plumbbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbcondensedregular'; src: url("../fonts/plumcrg_-webfont-webfont.eot"); src: url("../fonts/plumcrg_-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumcrg_-webfont-webfont.woff") format("woff"), url("../fonts/plumcrg_-webfont-webfont.ttf") format("truetype"), url("../fonts/plumcrg_-webfont-webfont.svg#plumbcondensedregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbregular'; src: url("../fonts/plumb-regular-webfont.eot"); src: url("../fonts/plumb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-regular-webfont.woff") format("woff"), url("../fonts/plumb-regular-webfont.ttf") format("truetype"), url("../fonts/plumb-regular-webfont.svg#plumbregular") format("svg"); font-weight: normal; font-style: normal; }

* { margin: 0; padding: 0; }

body, html { height: 100%; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; color: #323232; }

a { text-decoration: none; }

a img, fieldset { border: none; }

a img, fieldset { border: none; }

li, ol { list-style: none; }

input, textarea, button { border: none; outline: none; }

.h2 { font: 24px/38px "plumbbold", Arial, sans-serif; color: #fff; }

.h3 { font-size: 18px; }

.bg { position: absolute; top: 0; left: 328px; width: 1247px; height: 2046px; background: url(../img/bg.png) no-repeat 50% 0; }

.bgbtn { position: fixed; top: 0; right: 0; width: 20px; height: 20px; background: red; }

.wrap { width: 1247px; margin: 0 auto -241px; min-height: 100%; height: auto !important; height: 100%; }

.push { height: 241px; clear: both; }

.title { display: inline-block; padding: 0 10px; background: #ff358b; font: 24px/38px "plumbbold", Arial, sans-serif; color: #fff; }

.link, .nav-sub a, .catalog__cars span a, .top__car a { color: #00b9e9; text-decoration: underline; }
.link:hover, .nav-sub a:hover, .catalog__cars span a:hover, .top__car a:hover { color: #addd2c; text-decoration: none; }
.link:active, .nav-sub a:active, .catalog__cars span a:active, .top__car a:active { color: #ff358b; }

.clr { clear: both; }

.header { position: relative; height: 120px; padding-left: 438px; overflow: hidden; }

.logo { position: absolute; top: 0; left: 0; background: url('../img/icons-s1f2233a5cb.png') 0 0 no-repeat; width: 392px; height: 74px; }
.logo a { display: block; width: 100%; height: 100%; font: 0/0 a; text-shadow: none; color: transparent; }
.logo i { position: absolute; top: 13px; }

.logo__wing-l { left: 0; background: url('../img/icons-s1f2233a5cb.png') 0 -118px no-repeat; width: 57px; height: 48px; }

.logo__wing-r { right: 1px; background: url('../img/icons-s1f2233a5cb.png') 0 -176px no-repeat; width: 57px; height: 48px; }

.nav { position: absolute; top: 0; left: 438px; padding: 7px 3px 9px 15px; background: #00b9e9; overflow: hidden; }
.nav li { float: left; margin-right: 16px; }
.nav a { display: block; padding: 0 10px; font: 18px/26px "plumbbold", Arial, sans-serif; color: #fff; border: 2px solid #00b9e9; }
.nav a:hover { border: 2px solid #addd2c; }
.nav a:active { border: 2px solid #ff358b; background: #ff358b; }

.nav-sub { position: absolute; top: 63px; left: 450px; overflow: hidden; }
.nav-sub li { float: left; margin-right: 20px; }
.nav-sub a { font: 16px 'plumbregular', Arial, sans-serif; }

.enter { position: absolute; top: 0; right: 0; width: 143px; height: 45px; padding-left: 27px; background: #5371b1; }
.enter a { position: absolute; }

.enter__us { top: 13px; left: 27px; font: 16px 'plumbregular', Arial, sans-serif; color: #fff; }
.enter__us:hover { color: #addd2c; }

.enter__fb, .enter__vk { top: 11px; }
.enter__fb:hover, .enter__vk:hover { border: 1px solid #d9dee0; }

.enter__fb { top: 11px; right: 51px; background: url('../img/icons-s1f2233a5cb.png') 0 -534px no-repeat; width: 22px; height: 22px; border: 1px solid #1c5e97; }

.enter__vk { top: 11px; right: 17px; background: url('../img/icons-s1f2233a5cb.png') 0 -502px no-repeat; width: 22px; height: 22px; border: 1px solid #4e83a6; }

.footer-wrap { background: #00b9e9; }

.footer { position: relative; width: 1247px; height: 217px; padding-top: 24px; margin: 0 auto; overflow: hidden; }

.footer__left { float: left; width: 275px; padding-left: 10px; }

.footer__logo { position: relative; margin-bottom: 31px; padding-top: 36px; }
.footer__logo i { position: absolute; top: 7px; left: 0; background: url('../img/icons-s1f2233a5cb.png') 0 -84px no-repeat; width: 141px; height: 24px; }
.footer__logo span { margin-left: 5px; font-size: 12px; color: #fff; }

.footer__nav { float: left; padding-top: 8px; color: #fff; }
.footer__nav ul { float: left; }
.footer__nav li { font-size: 18px; margin-bottom: 3px; }
.footer__nav a { font-size: 12px; text-decoration: underline; color: #fff; }
.footer__nav a:hover { text-decoration: none; color: #addd2c; }
.footer__nav a:active { color: #ff358b; }

.footer__nav-1 { width: 177px; }

.footer__nav-2 { width: 240px; }

.facebook { float: right; }

.search { overflow: hidden; }
.search input { height: 25px; }

.search__txt { float: left; width: 132px; padding: 0 9px; margin-right: 7px; font-size: 14px; }
.search__txt::-webkit-input-placeholder { color: #323232; }
.search__txt:-moz-placeholder { color: #323232; }

.search__btn { width: 66px; background: #ff358b; border: 2px solid #ff358b; text-align: center; font: 14px 'plumbregular', Arial, sans-serif; color: #fff; cursor: pointer; }
.search__btn:hover { background: #00b9e9; border-color: #d8d8d8; }

.catalog .title { margin-bottom: 35px; }

.catalog__list { padding-left: 10px; margin-bottom: 25px; overflow: hidden; }
.catalog__list li { float: left; margin: 0 25px 15px 0; }
.catalog__list a { color: #00b9e9; font-size: 18px; border-bottom: 1px dashed #00b9e9; }
.catalog__list a:hover { color: #addd2c; border: none; }
.catalog__list a:active { color: #ff358b; }

.catalog__cars { display: none; padding-left: 10px; margin: 0 -50px 5px 0; overflow: hidden; }
.catalog__cars li { float: left; width: 186px; margin: 0 55px 45px 0; }
.catalog__cars img { -webkit-border-radius: 93px; -moz-border-radius: 93px; -ms-border-radius: 93px; -o-border-radius: 93px; border-radius: 93px; }
.catalog__cars span { display: block; margin-top: 20px; }
.catalog__cars span a { float: left; }
.catalog__cars b { float: right; }

.top .title { margin-bottom: 27px; }

.top__list { margin: 0 -20px 15px 0; overflow: hidden; }
.top__list li { float: left; margin-right: 13px; }
.top__list a { display: block; height: 21px; line-height: 21px; border: 2px solid #d8d8d8; text-align: center; color: #323232; }
.top__list a:hover { background: #addd2c; color: #fff; }
.top__list a.active { border: 2px solid #ff358b; background: #ff358b; color: #fff; }

.top__list-1 a { width: 82px; }

.top__list-2 a { width: 72px; }

.top__sliders { position: relative; width: 273px; height: 220px; margin-bottom: 15px; }

.top__slider { display: none; position: absolute; width: 273px; height: 220px; overflow: hidden; }
.top__slider button { position: absolute; top: 95px; z-index: 10; cursor: pointer; }

.top__slider-prev { left: 10px; background: url('../img/icons-s1f2233a5cb.png') 0 -394px no-repeat; width: 19px; height: 26px; }
.top__slider-prev:hover { background: url('../img/icons-s1f2233a5cb.png') 0 -270px no-repeat; width: 19px; height: 26px; }
.top__slider-prev:active { background: url('../img/icons-s1f2233a5cb.png') 0 -332px no-repeat; width: 19px; height: 26px; }

.top__slider-next { right: 10px; background: url('../img/icons-s1f2233a5cb.png') 0 -466px no-repeat; width: 19px; height: 26px; }
.top__slider-next:hover { background: url('../img/icons-s1f2233a5cb.png') 0 -234px no-repeat; width: 19px; height: 26px; }
.top__slider-next:active { background: url('../img/icons-s1f2233a5cb.png') 0 -430px no-repeat; width: 19px; height: 26px; }

.top__items { position: absolute; width: 2000em; }
.top__items li { float: left; width: 273px; height: 220px; text-align: center; }
.top__items img { -webkit-border-radius: 89px; -moz-border-radius: 89px; -ms-border-radius: 89px; -o-border-radius: 89px; border-radius: 89px; }

.top__car { margin-bottom: 11px; padding: 0 5px; overflow: hidden; }
.top__car a { float: left; }
.top__car b { float: right; }

.banner { margin-bottom: 54px; }
.banner img { display: block; }

.range-wrap { float: left; margin-right: 38px; }

.range { position: relative; width: 148px; height: 12px; padding-bottom: 12px; }
.range span { position: absolute; top: 0; left: 0; }

.range__empty { background: url('../img/icons-s1f2233a5cb.png') 0 -566px no-repeat; width: 148px; height: 12px; }

.range__full { background: url('../img/icons-s1f2233a5cb.png') 0 -588px no-repeat; width: 148px; height: 12px; width: 0; z-index: 10; }

.range__out { position: absolute; top: 0; left: -3px; width: 148px; height: 12px; }

.ui-slider-handle { position: absolute; bottom: -12px; left: -3px; background: url('../img/icons-s1f2233a5cb.png') 0 -650px no-repeat; width: 7px; height: 10px; outline: none; }
.ui-slider-handle:hover { background: url('../img/icons-s1f2233a5cb.png') 0 -610px no-repeat; width: 7px; height: 10px; }
.ui-slider-handle:active { background: url('../img/icons-s1f2233a5cb.png') 0 -630px no-repeat; width: 7px; height: 10px; }
