@font-face { font-family: 'plumbbold'; src: url("../fonts/plumb-webfont.eot"); src: url("../fonts/plumb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-webfont.woff") format("woff"), url("../fonts/plumb-webfont.ttf") format("truetype"), url("../fonts/plumb-webfont.svg#plumbbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbcondensedregular'; src: url("../fonts/plumcrg_-webfont-webfont.eot"); src: url("../fonts/plumcrg_-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumcrg_-webfont-webfont.woff") format("woff"), url("../fonts/plumcrg_-webfont-webfont.ttf") format("truetype"), url("../fonts/plumcrg_-webfont-webfont.svg#plumbcondensedregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbregular'; src: url("../fonts/plumb-regular-webfont.eot"); src: url("../fonts/plumb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-regular-webfont.woff") format("woff"), url("../fonts/plumb-regular-webfont.ttf") format("truetype"), url("../fonts/plumb-regular-webfont.svg#plumbregular") format("svg"); font-weight: normal; font-style: normal; }

@-moz-keyframes rotate-l { 0% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes rotate-l { 0% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes rotate-l { 0% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes rotate-l { 0% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes rotate-l { 0% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-moz-keyframes rotate-r { 0% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes rotate-r { 0% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes rotate-r { 0% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes rotate-r { 0% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes rotate-r { 0% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } }

* { margin: 0; padding: 0; }

body, html { height: 100%; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; color: #323232; }

a { text-decoration: none; }

a img, fieldset { border: none; }

a img, fieldset { border: none; }

li, ol { list-style: none; }

input, textarea, button { border: none; outline: none; }

table { border-spacing: 0; border-collapse: collapse; }

button { cursor: pointer; }

.h2 { font: 24px 'plumbbold', Arial, sans-serif; color: #fff; }

.h3 { font-size: 18px; }

.bg { position: absolute; top: 0; left: 328px; width: 1247px; height: 2046px; background: url(../img/bg.png) no-repeat 50% 0; }

.bg1 { position: absolute; top: 0; left: 328px; width: 1247px; height: 1681px; background: url(../img/bg1.png) no-repeat 50% 0; }

.bg2 { position: absolute; top: 0; left: 328px; width: 1247px; height: 3172px; background: url(../img/bg2.png) no-repeat 50% 0; }

.bgbtn { position: fixed; top: 0; right: 0; width: 20px; height: 20px; background: red; }

.wrap { width: 1247px; margin: 0 auto -241px; min-height: 100%; height: auto !important; height: 100%; }

.push { height: 241px; clear: both; }

.title { display: inline-block; padding: 0 10px; background: #ff358b; font: 24px/38px "plumbbold", Arial, sans-serif; color: #fff; }

.link, .nav-sub a, .breadcrumps a { color: #00b9e9; text-decoration: underline; }
.link:hover, .nav-sub a:hover, .breadcrumps a:hover { color: #addd2c; text-decoration: none; }
.link:active, .nav-sub a:active, .breadcrumps a:active { color: #ff358b; }

.clr { clear: both; }

.header { position: relative; height: 120px; }

.logo { position: absolute; top: 0; left: 57px; background: url('../img/icons-s8b48031aa7.png') 0 0 no-repeat; width: 278px; height: 74px; }
.logo a { position: relative; display: block; width: 100%; height: 100%; font: 0/0 a; text-shadow: none; color: transparent; }
.logo a:hover .logo__wing-r { -moz-animatiom: rotate-r 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; -webkit-animation: rotate-r 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; -o-animation: rotate-r 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; animation: rotate-r 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; }
.logo a:hover .logo__wing-l { -moz-animatiom: rotate-l 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; -webkit-animation: rotate-l 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; -o-animation: rotate-l 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; animation: rotate-l 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1 normal both; }
.logo i { position: absolute; top: 13px; }

.logo__wing-l { left: -57px; background: url('../img/icons-s8b48031aa7.png') 0 -118px no-repeat; width: 57px; height: 48px; -webkit-transform-origin: 100% 100%; -moz-transform-origin: 100% 100%; -ms-transform-origin: 100% 100%; -o-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.logo__wing-r { right: -56px; background: url('../img/icons-s8b48031aa7.png') 0 -176px no-repeat; width: 57px; height: 48px; -webkit-transform-origin: 0% 100%; -moz-transform-origin: 0% 100%; -ms-transform-origin: 0% 100%; -o-transform-origin: 0% 100%; transform-origin: 0% 100%; }

.nav { position: absolute; top: 0; left: 438px; padding: 7px 3px 9px 15px; background: #00b9e9; overflow: hidden; }
.nav li { float: left; margin-right: 16px; }
.nav a { display: block; padding: 0 10px; font: 18px/26px "plumbbold", Arial, sans-serif; color: #fff; border: 2px solid #00b9e9; }
.nav a:hover { border: 2px solid #addd2c; }
.nav a:active { border: 2px solid #ff358b; background: #ff358b; }

.nav-sub { position: absolute; top: 63px; left: 450px; overflow: hidden; }
.nav-sub li { float: left; margin-right: 20px; }
.nav-sub a { font: 16px 'plumbregular', Arial, sans-serif; }

.enter { position: absolute; top: 0; right: 0; width: 143px; height: 45px; padding-left: 27px; background: #5371b1; }
.enter span { position: absolute; }
.enter:hover .enter__us { color: #addd2c; }
.enter:hover .enter__fb, .enter:hover .enter__vk { border: 1px solid #d9dee0; }

.enter__us { top: 13px; left: 27px; font: 16px 'plumbregular', Arial, sans-serif; color: #fff; }

.enter__fb, .enter__vk { top: 11px; }

.enter__fb { top: 11px; right: 51px; background: url('../img/icons-s8b48031aa7.png') 0 -702px no-repeat; width: 22px; height: 22px; border: 1px solid #1c5e97; }

.enter__vk { top: 11px; right: 17px; background: url('../img/icons-s8b48031aa7.png') 0 -558px no-repeat; width: 22px; height: 22px; border: 1px solid #4e83a6; }

.footer-wrap { background: #00b9e9; }

.footer { position: relative; width: 1247px; height: 217px; padding-top: 24px; margin: 0 auto; overflow: hidden; }

.footer__left { float: left; width: 275px; padding-left: 10px; }

.footer__logo { position: relative; margin-bottom: 31px; padding-top: 36px; }
.footer__logo i { position: absolute; top: 7px; left: 0; background: url('../img/icons-s8b48031aa7.png') 0 -84px no-repeat; width: 141px; height: 24px; }
.footer__logo span { margin-left: 5px; font-size: 12px; color: #fff; }

.footer__nav { float: left; padding-top: 8px; color: #fff; }
.footer__nav ul { float: left; }
.footer__nav li { font-size: 18px; margin-bottom: 3px; }
.footer__nav a { font-size: 12px; text-decoration: underline; color: #fff; }
.footer__nav a:hover { text-decoration: none; color: #addd2c; }
.footer__nav a:active { color: #ff358b; }

.footer__nav-1 { width: 177px; }

.footer__nav-2 { width: 240px; }

.facebook { float: right; }

.search { overflow: hidden; }
.search input { height: 25px; }

.search__txt { float: left; width: 132px; padding: 0 9px; margin-right: 7px; font-size: 14px; }
.search__txt::-webkit-input-placeholder { color: #323232; }
.search__txt:-moz-placeholder { color: #323232; }

.search__btn { width: 66px; background: #ff358b; border: 2px solid #ff358b; text-align: center; font: 14px 'plumbregular', Arial, sans-serif; color: #fff; cursor: pointer; }
.search__btn:hover { background: #00b9e9; border-color: #d8d8d8; }

.breadcrumps { padding-left: 10px; overflow: hidden; }
.breadcrumps li { float: left; }
.breadcrumps span { margin: 0 8px; }

.advertising { margin-bottom: 35px; }

.banner { margin-bottom: 54px; }
.banner img { display: block; }
