@font-face { font-family: 'plumbbold'; src: url("../fonts/plumb-webfont.eot"); src: url("../fonts/plumb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-webfont.woff") format("woff"), url("../fonts/plumb-webfont.ttf") format("truetype"), url("../fonts/plumb-webfont.svg#plumbbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbcondensedregular'; src: url("../fonts/plumcrg_-webfont-webfont.eot"); src: url("../fonts/plumcrg_-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumcrg_-webfont-webfont.woff") format("woff"), url("../fonts/plumcrg_-webfont-webfont.ttf") format("truetype"), url("../fonts/plumcrg_-webfont-webfont.svg#plumbcondensedregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbregular'; src: url("../fonts/plumb-regular-webfont.eot"); src: url("../fonts/plumb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-regular-webfont.woff") format("woff"), url("../fonts/plumb-regular-webfont.ttf") format("truetype"), url("../fonts/plumb-regular-webfont.svg#plumbregular") format("svg"); font-weight: normal; font-style: normal; }

@-webkit-keyframes rotate-l { 0% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: 100% 100%; }
  20% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 100% 100%; }
  40% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: 100% 100%; }
  60% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 100% 100%; }
  80% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: 100% 100%; }
  100% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 100% 100%; } }

@-webkit-keyframes rotate-r { 0% { -webkit-transform: rotate(15deg); -webkit-transform-origin: 0% 100%; }
  20% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 0% 100%; }
  40% { -webkit-transform: rotate(15deg); -webkit-transform-origin: 0% 100%; }
  60% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 0% 100%; }
  80% { -webkit-transform: rotate(15deg); -webkit-transform-origin: 0% 100%; }
  100% { -webkit-transform: rotate(0deg); -webkit-transform-origin: 0% 100%; } }

@-moz-keyframes rotate-l { 0% { -moz-transform: rotate(-15deg); -moz-transform-origin: 100% 100%; }
  20% { -moz-transform: rotate(0deg); -moz-transform-origin: 100% 100%; }
  40% { -moz-transform: rotate(-15deg); -moz-transform-origin: 100% 100%; }
  60% { -moz-transform: rotate(0deg); -moz-transform-origin: 100% 100%; }
  80% { -moz-transform: rotate(-15deg); -moz-transform-origin: 100% 100%; }
  100% { -moz-transform: rotate(0deg); -moz-transform-origin: 100% 100%; } }

@-moz-keyframes rotate-r { 0% { -moz-transform: rotate(15deg); -moz-transform-origin: 0% 100%; }
  20% { -moz-transform: rotate(0deg); -moz-transform-origin: 0% 100%; }
  40% { -moz-transform: rotate(15deg); -moz-transform-origin: 0% 100%; }
  60% { -moz-transform: rotate(0deg); -moz-transform-origin: 0% 100%; }
  80% { -moz-transform: rotate(15deg); -moz-transform-origin: 0% 100%; }
  100% { -moz-transform: rotate(0deg); -moz-transform-origin: 0% 100%; } }

@-o-keyframes rotate-l { 0% { -o-transform: rotate(-15deg); -o-transform-origin: 100% 100%; }
  20% { -o-transform: rotate(0deg); -o-transform-origin: 100% 100%; }
  40% { -o-transform: rotate(-15deg); -o-transform-origin: 100% 100%; }
  60% { -o-transform: rotate(0deg); -o-transform-origin: 100% 100%; }
  80% { -o-transform: rotate(-15deg); -o-transform-origin: 100% 100%; }
  100% { -o-transform: rotate(0deg); -o-transform-origin: 100% 100%; } }

@-o-keyframes rotate-r { 0% { -o-transform: rotate(15deg); -o-transform-origin: 0% 100%; }
  20% { -o-transform: rotate(0deg); -o-transform-origin: 0% 100%; }
  40% { -o-transform: rotate(15deg); -o-transform-origin: 0% 100%; }
  60% { -o-transform: rotate(0deg); -o-transform-origin: 0% 100%; }
  80% { -o-transform: rotate(15deg); -o-transform-origin: 0% 100%; }
  100% { -o-transform: rotate(0deg); -o-transform-origin: 0% 100%; } }

@-ms-keyframes rotate-l { 0% { -ms-transform: rotate(-15deg); -ms-transform-origin: 100% 100%; }
  20% { -ms-transform: rotate(0deg); -ms-transform-origin: 100% 100%; }
  40% { -ms-transform: rotate(-15deg); -ms-transform-origin: 100% 100%; }
  60% { -ms-transform: rotate(0deg); -ms-transform-origin: 100% 100%; }
  80% { -ms-transform: rotate(-15deg); -ms-transform-origin: 100% 100%; }
  100% { -ms-transform: rotate(0deg); -ms-transform-origin: 100% 100%; } }

@-ms-keyframes rotate-r { 0% { -ms-transform: rotate(15deg); -ms-transform-origin: 0% 100%; }
  20% { -ms-transform: rotate(0deg); -ms-transform-origin: 0% 100%; }
  40% { -ms-transform: rotate(15deg); -ms-transform-origin: 0% 100%; }
  60% { -ms-transform: rotate(0deg); -ms-transform-origin: 0% 100%; }
  80% { -ms-transform: rotate(15deg); -ms-transform-origin: 0% 100%; }
  100% { -ms-transform: rotate(0deg); -ms-transform-origin: 0% 100%; } }

@keyframes rotate-l { 0% { transform: rotate(-15deg); transform-origin: 100% 100%; }
  20% { transform: rotate(0deg); transform-origin: 100% 100%; }
  40% { transform: rotate(-15deg); transform-origin: 100% 100%; }
  60% { transform: rotate(0deg); transform-origin: 100% 100%; }
  80% { transform: rotate(-15deg); transform-origin: 100% 100%; }
  100% { transform: rotate(0deg); transform-origin: 100% 100%; } }

@keyframes rotate-r { 0% { transform: rotate(15deg); transform-origin: 0% 100%; }
  20% { transform: rotate(0deg); transform-origin: 0% 100%; }
  40% { transform: rotate(15deg); transform-origin: 0% 100%; }
  60% { transform: rotate(0deg); transform-origin: 0% 100%; }
  80% { transform: rotate(15deg); transform-origin: 0% 100%; }
  100% { transform: rotate(0deg); transform-origin: 0% 100%; } }

.main-top { margin-bottom: 52px; overflow: hidden; }

.about { float: left; width: 392px; font-family: 'plumbregular', Arial, sans-serif; }

.about__desc { padding: 0 20px 0 10px; }
.about__desc span { display: block; padding: 20px 0 19px 0; font: 18px 'plumbbold', Arial, sans-serif; }
.about__desc p { margin-bottom: 10px; line-height: 1.5; }

.filter { float: right; width: 465px; padding: 6px 0 17px 24px; background: #00b9e9; }
.filter .h2 { margin-bottom: 4px; }
.filter b { display: block; margin-bottom: 11px; color: #fff; }

.filter__price { margin-bottom: 17px; }
.filter__price ul { overflow: hidden; }
.filter__price li { float: left; margin-right: 8px; }
.filter__price label { display: block; padding: 0 8px; line-height: 21px; border: 2px solid #d8d8d8; font-size: 12px; color: #fff; cursor: pointer; }
.filter__price label:hover { background: #addd2c; }
.filter__price label.active { background: #ff358b; border: 2px solid #ff358b; }
.filter__price input { display: none; }

.filter__comfort { margin-bottom: 10px; }

.filter__cat { margin: 0 -50px 18px -8px; overflow: hidden; }
.filter__cat ul { float: left; }
.filter__cat b { margin: 0 0 7px 8px; }
.filter__cat label { position: relative; display: block; height: 26px; padding-left: 34px; border: 2px solid #00b9e9; line-height: 26px; color: #fff; cursor: pointer; }
.filter__cat label:hover { border-color: #addd2c; }
.filter__cat i, .filter__cat input { position: absolute; top: 4px; left: 6px; width: 16px; height: 16px; }
.filter__cat input { opacity: 0; z-index: 10; }
.filter__cat input[type="radio"] + i { background: url('../img/icons-s1f2233a5cb.png') 0 -368px no-repeat; width: 16px; height: 16px; }
.filter__cat input[type="radio"]:checked + i { background: url('../img/icons-s1f2233a5cb.png') 0 -306px no-repeat; width: 16px; height: 16px; }

.filter__cat-1 { width: 140px; margin-right: 30px; }

.filter__cat-2 { width: 110px; margin-right: 15px; }

.filter__cat-3 { width: 159px; }

.filter__btn { padding-right: 24px; text-align: center; }
.filter__btn input { width: 153px; height: 29px; background: #addd2c; border: 2px solid #addd2c; font: 18px/1 "plumbbold", Arial, sans-serif; color: #fff; cursor: pointer; }
.filter__btn input:hover { background: #00b9e9; border: 2px solid #d8d8d8; }
.filter__btn input:active { background: #ff358b; border: 2px solid #ff358b; }

.main-news { padding-left: 10px; margin: 0 -30px 47px 0; overflow: hidden; }
.main-news li { float: left; width: 290px; margin-right: 23px; }
.main-news img { display: block; margin-bottom: 20px; }
.main-news .h3 { margin-bottom: 20px; font-weight: normal; }
.main-news p { line-height: 1.5; }

.girlfriends { margin-bottom: 65px; font-size: 12px; }
.girlfriends .title { margin-bottom: 32px; }
.girlfriends ul { padding-left: 10px; overflow: hidden; }
.girlfriends li { position: relative; float: left; width: 140px; padding-right: 43px; }
.girlfriends img { float: left; margin-right: 7px; }

.girlfriends__car { position: absolute; top: 33px; left: 83px; width: 70px; color: #323232; }
.girlfriends__car i { position: absolute; top: 0; left: -16px; width: 12px; height: 12px; }

.gossip { margin-bottom: 65px; }
.gossip .title { margin-bottom: 22px; }
.gossip p { line-height: 1.5; }
.gossip li { margin-bottom: 30px; }

.gossip__person { margin-bottom: 10px; }
.gossip__person img { float: left; padding-top: 3px; margin-right: 8px; }
.gossip__person span { display: block; font-size: 12px; color: #7f7f7f; }
