@font-face { font-family: 'plumbbold'; src: url("../fonts/plumb-webfont.eot"); src: url("../fonts/plumb-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-webfont.woff") format("woff"), url("../fonts/plumb-webfont.ttf") format("truetype"), url("../fonts/plumb-webfont.svg#plumbbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbcondensedregular'; src: url("../fonts/plumcrg_-webfont-webfont.eot"); src: url("../fonts/plumcrg_-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumcrg_-webfont-webfont.woff") format("woff"), url("../fonts/plumcrg_-webfont-webfont.ttf") format("truetype"), url("../fonts/plumcrg_-webfont-webfont.svg#plumbcondensedregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'plumbregular'; src: url("../fonts/plumb-regular-webfont.eot"); src: url("../fonts/plumb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/plumb-regular-webfont.woff") format("woff"), url("../fonts/plumb-regular-webfont.ttf") format("truetype"), url("../fonts/plumb-regular-webfont.svg#plumbregular") format("svg"); font-weight: normal; font-style: normal; }

@-moz-keyframes rotate-l { 0% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -moz-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes rotate-l { 0% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes rotate-l { 0% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes rotate-l { 0% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -ms-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes rotate-l { 0% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  20% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  60% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); transform: rotate(-15deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-moz-keyframes rotate-r { 0% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -moz-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -moz-transform: rotate(0deg); transform: rotate(0deg); } }

@-webkit-keyframes rotate-r { 0% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@-o-keyframes rotate-r { 0% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -o-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -o-transform: rotate(0deg); transform: rotate(0deg); } }

@-ms-keyframes rotate-r { 0% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -ms-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -ms-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes rotate-r { 0% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  20% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  40% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  60% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  80% { -webkit-transform: rotate(15deg); -moz-transform: rotate(15deg); -ms-transform: rotate(15deg); -o-transform: rotate(15deg); transform: rotate(15deg); }
  100% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } }

.main-top { margin-bottom: 52px; overflow: hidden; }

.about { float: left; width: 392px; font-family: 'plumbregular', Arial, sans-serif; }

.about__desc { padding: 0 20px 0 10px; }
.about__desc span { display: block; padding: 20px 0 19px 0; font: 18px 'plumbbold', Arial, sans-serif; }
.about__desc p { margin-bottom: 10px; line-height: 1.5; }

.main-news, .article-news { padding-left: 10px; overflow: hidden; }
.main-news li, .article-news li { float: left; }
.main-news img, .article-news img { display: block; margin-bottom: 20px; }
.main-news .h3, .article-news .h3 { margin-bottom: 20px; font-weight: normal; }
.main-news p, .article-news p { line-height: 1.5; }

.main-news { margin: 0 -30px 47px 0; }
.main-news li { width: 290px; margin-right: 23px; }

.article-news { margin: 0 0 65px 0; }
.article-news li { width: 274px; margin-right: 47px; }

.girlfriends { margin-bottom: 65px; font-size: 12px; }
.girlfriends .title { margin-bottom: 32px; }
.girlfriends ul { padding-left: 10px; overflow: hidden; }
.girlfriends li { position: relative; float: left; width: 140px; padding-right: 43px; }
.girlfriends img { float: left; margin-right: 7px; }

.girlfriends__car { position: absolute; top: 33px; left: 83px; width: 70px; color: #323232; }
.girlfriends__car i { position: absolute; top: 0; left: -16px; width: 12px; height: 12px; }

.catalog_main { margin-bottom: 0px; }
.catalog_main .title { margin-bottom: 35px; }
.catalog_main .catalog__list { margin-bottom: 25px; }
.catalog_main .catalog__cars { padding-left: 10px; }
.catalog_main .catalog__cars li { width: 186px; height: 268px; margin: 0 55px 0 0; }
.catalog_main .catalog__pic { width: 186px; height: 186px; }
