/*resets*/
/* line 6, ../scss/common.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/common.scss */
body {
  font-family: Tahoma,Arial,sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #444;
}

/* line 15, ../scss/common.scss */
p {
  line-height: 1.3;
}

/* line 18, ../scss/common.scss */
a img, fieldset {
  border: none;
}

/* line 21, ../scss/common.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 25, ../scss/common.scss */
h1, h2, h3 {
  font-weight: normal;
  color: #000;
}

/* line 29, ../scss/common.scss */
h1 {
  margin: 15px 0 20px 0;
  font-size: 36px;
}
/* line 32, ../scss/common.scss */
h1 span {
  font-size: 14px;
  margin-left: 20px;
}

/* line 37, ../scss/common.scss */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* line 41, ../scss/common.scss */
h3 {
  font-size: 22px;
}

/* line 44, ../scss/common.scss */
h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 30px;
}

/* line 49, ../scss/common.scss */
li {
  list-style: none;
}

/* line 52, ../scss/common.scss */
input, textarea, button {
  border: none;
  outline: none;
}

/* line 56, ../scss/common.scss */
.clr {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}

/* line 62, ../scss/common.scss */
.wrap {
  width: 1220px;
  margin: 0 auto;
}

/*header*/
/* line 67, ../scss/common.scss */
.header {
  position: relative;
  height: 108px;
  padding: 32px 0 0 300px;
}

/* line 72, ../scss/common.scss */
.logo {
  position: absolute;
  top: 40px;
  left: 0;
  background: url('../img/icons-s5b77935e77.png') 0 -102px no-repeat;
  width: 200px;
  height: 40px;
}
/* line 77, ../scss/common.scss */
.logo a {
  display: block;
  width: 200px;
  height: 40px;
  text-indent: -20000px;
}

/* line 84, ../scss/common.scss */
.nav-main {
  height: 31px;
  line-height: 31px;
}
/* line 87, ../scss/common.scss */
.nav-main ul {
  float: left;
}
/* line 90, ../scss/common.scss */
.nav-main li {
  float: left;
  margin-right: 30px;
}
/* line 93, ../scss/common.scss */
.nav-main li a {
  font-size: 18px;
}

/* line 98, ../scss/common.scss */
.enter {
  float: right;
  padding: 0 10px;
  border: 1px solid #c7b299;
}
/* line 102, ../scss/common.scss */
.enter a {
  float: left;
  color: #000;
  text-decoration: underline;
}

/* line 108, ../scss/common.scss */
.enter__fb {
  margin: 8px 0 0 13px;
  background: url('../img/icons-s5b77935e77.png') 0 -269px no-repeat;
  width: 14px;
  height: 14px;
}

/* line 112, ../scss/common.scss */
.enter__vk {
  margin: 8px 0 0 5px;
  background: url('../img/icons-s5b77935e77.png') 0 -295px no-repeat;
  width: 14px;
  height: 14px;
}

/* line 116, ../scss/common.scss */
.nav-sub {
  margin-top: 10px;
  height: 24px;
  line-height: 24px;
}
/* line 120, ../scss/common.scss */
.nav-sub ul {
  float: left;
}
/* line 123, ../scss/common.scss */
.nav-sub li {
  float: left;
  margin-right: 25px;
}
/* line 127, ../scss/common.scss */
.nav-sub form {
  position: relative;
  float: right;
}
/* line 130, ../scss/common.scss */
.nav-sub form .search-txt {
  width: 115px;
  height: 22px;
  line-height: 22px;
  padding: 0 23px 0 12px;
  border: 1px solid #ccc;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
}
/* line 138, ../scss/common.scss */
.nav-sub form .search-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: url('../img/icons-s5b77935e77.png') 0 -211px no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/*footer*/
/* line 148, ../scss/common.scss */
.footer {
  position: relative;
  height: 240px;
  padding-left: 230px;
  margin-top: 75px;
}
/* line 153, ../scss/common.scss */
.footer ul {
  float: left;
  margin-right: 30px;
}
/* line 156, ../scss/common.scss */
.footer ul li {
  margin-bottom: 5px;
}
/* line 159, ../scss/common.scss */
.footer ul span {
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
  color: #000;
}
/* line 165, ../scss/common.scss */
.footer ul a {
  font-size: 13px;
}

/* line 170, ../scss/common.scss */
.footer__logo {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 174, ../scss/common.scss */
.footer__logo a {
  display: block;
  margin-bottom: 10px;
  background: url('../img/icons-s5b77935e77.png') 0 -174px no-repeat;
  width: 100px;
  height: 20px;
}
/* line 179, ../scss/common.scss */
.footer__logo span {
  font-size: 12px;
}

/* line 183, ../scss/common.scss */
.developer {
  position: absolute;
  top: 150px;
  left: 0;
  background: url('../img/icons-s5b77935e77.png') 0 -72px no-repeat;
  width: 62px;
  height: 30px;
}

/* line 189, ../scss/common.scss */
.facebook {
  position: absolute;
  top: 0;
  right: 0;
}

/*breadcrumps*/
/* line 195, ../scss/common.scss */
.breadcrumps {
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}
/* line 199, ../scss/common.scss */
.breadcrumps a {
  text-decoration: underline;
}
/* line 202, ../scss/common.scss */
.breadcrumps span, .breadcrumps a, .breadcrumps b {
  float: left;
}
/* line 205, ../scss/common.scss */
.breadcrumps b {
  padding: 0 15px;
  font-weight: normal;
}

/*banners*/
/* line 211, ../scss/common.scss */
.banner-w {
  height: 80px;
  margin: 30px 0;
  background: #d6d6d6;
  line-height: 80px;
  color: #000;
  text-align: center;
}

/* line 219, ../scss/common.scss */
.banner-h {
  position: relative;
  height: 400px;
  margin-bottom: 45px;
  background: #d6d6d6;
}
/* line 224, ../scss/common.scss */
.banner-h a {
  position: absolute;
  right: 0;
  bottom: -20px;
  text-decoration: underline;
}

/* line 231, ../scss/common.scss */
.banner-h1 {
  height: 360px;
  margin: 30px 0 15px 0;
  line-height: 360px;
  background: #d6d6d6;
  color: #000;
  text-align: center;
}

/*cars*/
/* line 240, ../scss/common.scss */
.cars__nav, .params__categories {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 243, ../scss/common.scss */
.cars__nav li, .params__categories li {
  float: left;
  margin: 0 30px 10px 0;
}
/* line 246, ../scss/common.scss */
.cars__nav li a, .params__categories li a {
  text-decoration: underline;
}

/* line 251, ../scss/common.scss */
.cars__items {
  margin-right: -50px;
}
/* line 253, ../scss/common.scss */
.cars__items li {
  position: relative;
  display: inline-block;
  width: 156px;
  margin: 0 20px 15px 0;
  padding: 5px;
  vertical-align: top;
  border: 2px solid #fff;
  overflow: hidden;
}
/* line 262, ../scss/common.scss */
.cars__items li .cars__title {
  float: left;
  width: 85px;
  text-decoration: underline;
}
/* line 267, ../scss/common.scss */
.cars__items li span {
  float: right;
}
/* line 270, ../scss/common.scss */
.cars__items li:hover {
  border: 2px solid #f49ac1;
}
/* line 273, ../scss/common.scss */
.cars__items li i {
  position: absolute;
  top: 5px;
  left: 5px;
  background: url('../img/icons-s5b77935e77.png') 0 -142px no-repeat;
  width: 32px;
  height: 32px;
}
/* line 279, ../scss/common.scss */
.cars__items li b {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #444;
  font-weight: bold;
  font-size: 11px;
  color: #444;
}

/* line 297, ../scss/common.scss */
.cars_inner .cars__items li {
  margin: 0 15px 15px 0;
}

/*gossip*/
/* line 304, ../scss/common.scss */
.gossips li {
  margin-bottom: 15px;
  font-size: 12px;
  overflow: hidden;
}
/* line 308, ../scss/common.scss */
.gossips li a {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding-left: 17px;
  text-decoration: underline;
}
/* line 315, ../scss/common.scss */
.gossips li i {
  position: absolute;
  top: 1px;
  left: 0;
  background: url('../img/icons-s5b77935e77.png') 0 -225px no-repeat;
  width: 11px;
  height: 14px;
}
/* line 321, ../scss/common.scss */
.gossips li span {
  float: right;
  color: #999999;
  font-size: 11px;
}

/*pagination*/
/* line 329, ../scss/common.scss */
.pagination {
  margin-top: 30px;
  overflow: hidden;
}
/* line 332, ../scss/common.scss */
.pagination a {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #444;
  font-weight: bold;
  font-size: 11px;
  color: #444;
}
/* line 344, ../scss/common.scss */
.pagination a.active, .pagination a:hover {
  background: #444;
  color: #fff;
}
/* line 349, ../scss/common.scss */
.pagination .pagination__next {
  border: none;
  padding: 2px;
}
/* line 352, ../scss/common.scss */
.pagination .pagination__next img {
  margin-top: 3px;
}
/* line 355, ../scss/common.scss */
.pagination .pagination__next:hover {
  background: #fff;
}

/*filter*/
/* line 361, ../scss/common.scss */
.filter-out {
  float: left;
  width: 300px;
}
/* line 364, ../scss/common.scss */
.filter-out h2 {
  margin-bottom: 30px;
}
/* line 367, ../scss/common.scss */
.filter-out .filter-btn {
  height: 25px;
  padding: 0 10px;
  line-height: 1;
  border-top: 1px solid #d2d8da;
  border-left: 1px solid #d2d8da;
  border-right: 1px solid #d2d8da;
  border-bottom: 1px solid #9c9c9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  cursor: pointer;
}

/* line 381, ../scss/common.scss */
.filter-out-catalog {
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}
/* line 385, ../scss/common.scss */
.filter-out-catalog .filter-out {
  width: 260px;
  margin-right: 30px;
  padding-left: 5px;
}
/* line 390, ../scss/common.scss */
.filter-out-catalog form {
  float: left;
  width: 370px;
}
/* line 393, ../scss/common.scss */
.filter-out-catalog form h4 {
  margin-bottom: 10px;
}
/* line 397, ../scss/common.scss */
.filter-out-catalog form .filter-cat li {
  width: 100px;
  padding-bottom: 5px;
}
/* line 403, ../scss/common.scss */
.filter-out-catalog .filter-btn {
  position: absolute;
  bottom: 25px;
  right: 50px;
  height: 25px;
  padding: 0 10px;
  line-height: 1;
  border-top: 1px solid #d2d8da;
  border-left: 1px solid #d2d8da;
  border-right: 1px solid #d2d8da;
  border-bottom: 1px solid #9c9c9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  cursor: pointer;
}

/* line 420, ../scss/common.scss */
.filter-out_s {
  width: 170px;
}
/* line 422, ../scss/common.scss */
.filter-out_s h2 {
  font-size: 20px;
}
/* line 426, ../scss/common.scss */
.filter-out_s #amount input {
  width: 50px;
}
/* line 429, ../scss/common.scss */
.filter-out_s #amount span, .filter-out_s #amount input {
  margin-right: 5px;
}

/* line 434, ../scss/common.scss */
.ui-slider-horizontal {
  height: 5px;
  background: #c3c3c3;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzNjMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c3c3), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#c3c3c3, #ffffff);
  background-image: -moz-linear-gradient(#c3c3c3, #ffffff);
  background-image: -o-linear-gradient(#c3c3c3, #ffffff);
  background-image: linear-gradient(#c3c3c3, #ffffff);
}

/* line 439, ../scss/common.scss */
.ui-widget-content {
  border: 1px solid #dddddd;
  border-top: 1px solid #a0a0a0;
}

/* line 443, ../scss/common.scss */
.ui-widget-header {
  border: 1px solid #a0a0a0;
  border-top: 1px solid #818181;
  background: #a5a5a5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1YTVhNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5a5a5), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(#a5a5a5, #e2e2e2);
  background-image: -moz-linear-gradient(#a5a5a5, #e2e2e2);
  background-image: -o-linear-gradient(#a5a5a5, #e2e2e2);
  background-image: linear-gradient(#a5a5a5, #e2e2e2);
}

/* line 449, ../scss/common.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  cursor: default;
}

/* line 456, ../scss/common.scss */
.ui-state-default {
  background: url(../img/icons/arr.png) no-repeat 0 0;
}

/* line 459, ../scss/common.scss */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 466, ../scss/common.scss */
.ui-slider {
  position: relative;
}

/* line 469, ../scss/common.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
}

/* line 474, ../scss/common.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -15px;
  margin-left: -6px;
  outline: none;
  cursor: pointer;
}

/* line 480, ../scss/common.scss */
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 100%;
}

/* line 481, ../scss/common.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 482, ../scss/common.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 483, ../scss/common.scss */
.filter-cat {
  overflow: hidden;
  padding: 15px 0 0 0;
}
/* line 486, ../scss/common.scss */
.filter-cat li {
  position: relative;
  float: left;
  width: 83px;
  padding: 0 0 15px 17px;
  font-size: 11px;
  line-height: 16px;
}
/* line 494, ../scss/common.scss */
.filter-cat input {
  position: absolute;
  top: 2px;
  left: 0;
}

/* line 500, ../scss/common.scss */
#amount {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #ccc;
  overflow: hidden;
}
/* line 505, ../scss/common.scss */
#amount input {
  float: left;
  width: 70px;
  height: 26px;
  padding-left: 5px;
  margin-right: 10px;
  line-height: 26px;
  border: 1px solid #c3c3c3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 515, ../scss/common.scss */
#amount span {
  float: left;
  margin-right: 10px;
  line-height: 26px;
}

/*popup*/
/* line 522, ../scss/common.scss */
.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 200;
}

/* line 534, ../scss/common.scss */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 140px;
  margin: -70px 0 0 -200px;
  border: 1px solid #000;
  background: #fff;
  z-index: 300;
}
/* line 545, ../scss/common.scss */
.popup a {
  position: absolute;
  left: 106px;
}
/* line 549, ../scss/common.scss */
.popup .popup__enter-fb {
  top: 30px;
  background: url('../img/icons-s5b77935e77.png') 0 0 no-repeat;
  width: 177px;
  height: 36px;
}
/* line 553, ../scss/common.scss */
.popup .popup__enter-vk {
  top: 73px;
  background: url('../img/icons-s5b77935e77.png') 0 -36px no-repeat;
  width: 177px;
  height: 36px;
}

/* line 558, ../scss/common.scss */
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: url('../img/icons-s5b77935e77.png') 0 -194px no-repeat;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

/* line 2, ../scss/layouts.scss */
.cols {
  overflow: hidden;
}
/* line 4, ../scss/layouts.scss */
.cols .col-1 {
  float: left;
  width: 950px;
}
/* line 8, ../scss/layouts.scss */
.cols .col-2 {
  float: right;
  width: 250px;
}
/* line 12, ../scss/layouts.scss */
.cols .col-3 {
  float: left;
  width: 740px;
  margin-right: 20px;
}
/* line 17, ../scss/layouts.scss */
.cols .col-4 {
  float: left;
  width: 170px;
}

/*main*/
/* line 6, ../scss/main.scss */
.main {
  padding-bottom: 45px;
  overflow: hidden;
}

/* line 10, ../scss/main.scss */
.main__about {
  float: left;
  width: 440px;
  margin-right: 20px;
}
/* line 14, ../scss/main.scss */
.main__about img {
  float: left;
  margin-bottom: 10px;
}
/* line 18, ../scss/main.scss */
.main__about span {
  display: block;
  margin: -5px 0 15px 0;
}
/* line 22, ../scss/main.scss */
.main__about p {
  margin-bottom: 5px;
}
/* line 25, ../scss/main.scss */
.main__about a {
  color: #444;
  text-decoration: underline;
}

/* line 30, ../scss/main.scss */
.top {
  float: right;
  width: 170px;
}

/* line 34, ../scss/main.scss */
.tabs_mt {
  margin-top: 30px;
}

/* line 37, ../scss/main.scss */
.tabs__link {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
/* line 41, ../scss/main.scss */
.tabs__link li {
  float: left;
  padding: 0 6px;
  line-height: 26px;
  background: #fff;
  font-size: 13px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}
/* line 52, ../scss/main.scss */
.tabs__link .active {
  padding: 0 8px;
  border: 1px solid #9f9f9f;
  border-width: 1px 1px 0 1px;
  text-decoration: none;
}

/* line 59, ../scss/main.scss */
.tabs__content {
  display: none;
  position: relative;
  margin-top: -1px;
  padding: 20px 14px 15px 15px;
  border: 1px solid #9f9f9f;
}
/* line 65, ../scss/main.scss */
.tabs__content a {
  overflow: hidden;
  font-size: 13px;
}
/* line 68, ../scss/main.scss */
.tabs__content a span {
  float: right;
}
/* line 72, ../scss/main.scss */
.tabs__content i {
  position: absolute;
  top: 90px;
  z-index: 10;
  cursor: pointer;
}
/* line 78, ../scss/main.scss */
.tabs__content .tabs__slider-prev {
  left: 5px;
  background: url('../img/icons-s5b77935e77.png') 0 -239px no-repeat;
  width: 8px;
  height: 15px;
}
/* line 82, ../scss/main.scss */
.tabs__content .tabs__slider-next {
  right: 5px;
  background: url('../img/icons-s5b77935e77.png') 0 -254px no-repeat;
  width: 8px;
  height: 15px;
}

/* line 87, ../scss/main.scss */
.tabs__slider {
  position: relative;
  width: 140px;
  height: 100px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 93, ../scss/main.scss */
.tabs__slider a {
  float: left;
}

/* line 97, ../scss/main.scss */
.items {
  position: absolute;
  width: 2000em;
}

/* line 101, ../scss/main.scss */
.articles-out {
  margin-right: -50px;
  overflow: hidden;
}

/* line 105, ../scss/main.scss */
.article {
  float: left;
  width: 290px;
  margin-right: 40px;
}
/* line 109, ../scss/main.scss */
.article img {
  margin-bottom: 10px;
}
/* line 112, ../scss/main.scss */
.article a {
  font-size: 17px;
  text-decoration: underline;
}
/* line 116, ../scss/main.scss */
.article p {
  margin-top: 10px;
}

/* line 120, ../scss/main.scss */
.article_s {
  width: 170px;
}

/* line 123, ../scss/main.scss */
.friends {
  overflow: hidden;
  margin: 0 -50px 40px 0;
}
/* line 126, ../scss/main.scss */
.friends li {
  position: relative;
  float: left;
  width: 80px;
  height: 75px;
  padding-left: 60px;
  margin-right: 20px;
  font-size: 12px;
}
/* line 134, ../scss/main.scss */
.friends li img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 139, ../scss/main.scss */
.friends li a {
  text-decoration: underline;
}
/* line 142, ../scss/main.scss */
.friends li span {
  position: relative;
  display: block;
  margin-top: 8px;
  padding-left: 15px;
}
/* line 148, ../scss/main.scss */
.friends li i {
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/*inner*/
/* line 6, ../scss/inner.scss */
.detail {
  overflow: hidden;
}

/* line 9, ../scss/inner.scss */
.gallery {
  float: left;
  width: 400px;
}

/* line 13, ../scss/inner.scss */
.gallery__img-s {
  position: relative;
  height: 65px;
  overflow: hidden;
}
/* line 17, ../scss/inner.scss */
.gallery__img-s a {
  float: left;
  position: relative;
  margin-right: 3px;
}
/* line 22, ../scss/inner.scss */
.gallery__img-s a:hover i, .gallery__img-s a.active i {
  border: 2px solid #000;
}
/* line 27, ../scss/inner.scss */
.gallery__img-s i {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 61px;
}

/* line 35, ../scss/inner.scss */
.params {
  float: right;
  width: 300px;
}

/* line 39, ../scss/inner.scss */
.params__car {
  width: 300px;
}
/* line 41, ../scss/inner.scss */
.params__car li {
  display: inline-block;
  width: 145px;
  margin-bottom: 15px;
  vertical-align: top;
}
/* line 46, ../scss/inner.scss */
.params__car li b {
  display: block;
}

/* line 51, ../scss/inner.scss */
.params__title {
  display: block;
  margin: 30px 0 10px 0;
}

/* line 55, ../scss/inner.scss */
.social-btn {
  margin: 30px 0;
}

/* line 58, ../scss/inner.scss */
.info {
  margin-bottom: 25px;
}
/* line 60, ../scss/inner.scss */
.info p {
  margin-bottom: 5px;
}

/*comments*/
/* line 66, ../scss/inner.scss */
.comments form {
  width: 460px;
  padding: 10px;
  margin-bottom: 35px;
  background: #f2fbfe;
  overflow: hidden;
}
/* line 72, ../scss/inner.scss */
.comments form textarea {
  width: 440px;
  height: 90px;
  margin-bottom: 7px;
  padding: 5px 10px;
  border: 1px solid #d2d8da;
  font-family: Tahoma, Arial, sans-serif;
}
/* line 80, ../scss/inner.scss */
.comments form input {
  float: left;
  height: 20px;
  padding: 0 5px;
  margin-right: 20px;
  line-height: 1;
  border-top: 1px solid #d2d8da;
  border-left: 1px solid #d2d8da;
  border-right: 1px solid #d2d8da;
  border-bottom: 1px solid #9c9c9c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -o-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  cursor: pointer;
}
/* line 95, ../scss/inner.scss */
.comments form a {
  line-height: 22px;
  text-decoration: underline;
  font-size: 12px;
}

/* line 102, ../scss/inner.scss */
.comment {
  position: relative;
  padding-left: 50px;
  margin-bottom: 20px;
}
/* line 106, ../scss/inner.scss */
.comment img {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #e5e5e5;
}
/* line 112, ../scss/inner.scss */
.comment a {
  text-decoration: underline;
}
/* line 115, ../scss/inner.scss */
.comment span {
  margin: 0 15px;
  color: #666666;
}

/*tops*/
/* line 121, ../scss/inner.scss */
.tops {
  padding-top: 10px;
}
/* line 123, ../scss/inner.scss */
.tops h3 {
  position: relative;
  margin: 10px 0 20px 0;
}
/* line 126, ../scss/inner.scss */
.tops h3 a {
  position: absolute;
  top: 7px;
  left: 195px;
  font-size: 12px;
  color: #444;
  text-decoration: underline;
}

/*article content*/
/* line 138, ../scss/inner.scss */
.article-content p {
  margin-bottom: 20px;
}
/* line 141, ../scss/inner.scss */
.article-content table {
  width: 100%;
  margin: 20px 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #d3d3d3;
  text-align: left;
}
/* line 149, ../scss/inner.scss */
.article-content tr {
  border-bottom: 1px solid #d3d3d3;
}
/* line 151, ../scss/inner.scss */
.article-content tr:nth-child(even) {
  background: #f8f8f8;
}
/* line 155, ../scss/inner.scss */
.article-content td, .article-content th {
  padding: 15px;
}
/* line 157, ../scss/inner.scss */
.article-content td:first-child, .article-content th:first-child {
  width: 380px;
}
/* line 161, ../scss/inner.scss */
.article-content th {
  font-style: italic;
  color: #acacac;
  font-weight: normal;
}
/* line 166, ../scss/inner.scss */
.article-content blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 4px solid #d4d4d4;
}
/* line 170, ../scss/inner.scss */
.article-content blockquote i, .article-content blockquote b {
  display: block;
  text-align: right;
}
/* line 174, ../scss/inner.scss */
.article-content blockquote i {
  margin-top: 15px;
}

/* line 179, ../scss/inner.scss */
.article-content__pic {
  float: left;
  margin: 0 25px 10px 0;
  border: 1px solid #c2c2c2;
}
/* line 183, ../scss/inner.scss */
.article-content__pic img, .article-content__pic i {
  display: block;
}
/* line 186, ../scss/inner.scss */
.article-content__pic i {
  padding-left: 10px;
  line-height: 26px;
  background: #e8e8e8;
}

/* line 3, ../scss/ie.scss */
.ltie8 .filter-cat input {
  top: -2px;
  left: -2px;
}
/* line 9, ../scss/ie.scss */
.ltie8 .cars__items li, .ltie8 .params__car li {
  display: inline;
  zoom: 1;
}
