@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$blue: #00b9e9;
$green: #addd2c;
$pink: #ff358b;
$dark: #323232;
$gray: #d8d8d8;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
//fonts
@font-face {
    font-family: 'plumbbold';
    src: url('../fonts/plumb-webfont.eot');
    src: url('../fonts/plumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumb-webfont.woff') format('woff'),
         url('../fonts/plumb-webfont.ttf') format('truetype'),
         url('../fonts/plumb-webfont.svg#plumbbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbcondensedregular';
    src: url('../fonts/plumcrg_-webfont-webfont.eot');
    src: url('../fonts/plumcrg_-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumcrg_-webfont-webfont.woff') format('woff'),
         url('../fonts/plumcrg_-webfont-webfont.ttf') format('truetype'),
         url('../fonts/plumcrg_-webfont-webfont.svg#plumbcondensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'plumbregular';
    src: url('../fonts/plumb-regular-webfont.eot');
    src: url('../fonts/plumb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/plumb-regular-webfont.woff') format('woff'),
         url('../fonts/plumb-regular-webfont.ttf') format('truetype'),
         url('../fonts/plumb-regular-webfont.svg#plumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//animation logo
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
  -moz-transition:    $what $length $easing;
  -webkit-transition: $what $length $easing;
  -o-transition:      $what $length $easing;
  -ms-transition:     $what $length $easing;
  transition:         $what $length $easing;
}
@mixin animation($what: all, $length: 1s, $easing: ease-in-out, $fillmode: both) {
  -moz-animatiom:    $what $length $easing 0s 1 normal $fillmode;
  -webkit-animation: $what $length $easing 0s 1 normal $fillmode;
  -o-animation:      $what $length $easing 0s 1 normal $fillmode;
  animation:         $what $length $easing 0s 1 normal $fillmode;
}
@include keyframes(rotate-l) {
  0% {
    @include transform(rotate(-15deg));    
  }
  20% {
    @include transform(rotate(0deg));
  }
  40% {
    @include transform(rotate(-15deg));    
  }
  60% {
    @include transform(rotate(0deg));
  }
  80% { 
    @include transform(rotate(-15deg));    
  }
  100% { 
    @include transform(rotate(0deg));
  }
}
@include keyframes(rotate-r) {
  0% {
    @include transform(rotate(15deg));    
  }
  20% {
    @include transform(rotate(0deg));
  }
  40% {
    @include transform(rotate(15deg));    
  }
  60% {
    @include transform(rotate(0deg));
  }
  80% { 
    @include transform(rotate(15deg));    
  }
  100% { 
    @include transform(rotate(0deg));
  }
}
