@import "base";
//resets
*{margin:0;padding:0;}
body, html {
	height: 100%;
}
body {
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 14px;
	  	}
	line-height:1.2;
	color: $dark;
}
a {
	text-decoration: none;
}
a img,fieldset {
	border:none;
}
a img, fieldset {
	border: none;	
}
li, ol {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
button {
	cursor: pointer;
}
.h2 {	
	font: 24px 'plumbbold', Arial, sans-serif;
	color: #fff;
}
.h3 {
	font-size: 18px;
}
//general styles
.bg {
	position: absolute;
	top: 0;
	left: 328px;
	width: 1247px;
	height: 2046px;
	background: url(../img/bg.png) no-repeat 50% 0;
}
.bg1 {
	position: absolute;
	top: 0;
	left: 328px;
	width: 1247px;
	height: 1681px;
	background: url(../img/bg1.png) no-repeat 50% 0;
}
.bg2 {
	position: absolute;
	top: 0;
	left: 328px;
	width: 1247px;
	height: 3172px;
	background: url(../img/bg2.png) no-repeat 50% 0;
}
.bgbtn {
	position: fixed;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: red;
}
.wrap {
	width: 1247px;
	margin: 0 auto -241px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.push {
	height: 241px;
	clear: both;
}
.title {
	display: inline-block;
	padding: 0 10px;
	background: $pink;
	font: 24px/38px 'plumbbold', Arial, sans-serif;
	color: #fff;
}
.link {
	color: $blue;
	text-decoration: underline;
	&:hover {
		color: $green;
		text-decoration: none;
	}
	&:active {
		color: $pink;
	}
}
.clr{
  clear: both;
}
//header
.header {
	position: relative;
	height: 120px;
}
.logo {
	position: absolute;
	top: 0;
	left: 57px;
	@include sized-sprite($icons, logo);
	a {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		@include hide-text;
		//z-index: 10;
		&:hover {			
			.logo__wing-r {
				@include animation(rotate-r, 0.3s, cubic-bezier(0.785, 0.135, 0.15, 0.86), both);
			}
			.logo__wing-l {			
				@include animation(rotate-l, 0.3s, cubic-bezier(0.785, 0.135, 0.15, 0.86), both);
			}	
		}
	}
	i {
		position: absolute;
		top: 13px;		
	}
}
.logo__wing-l {
	left: -57px;
	@include sized-sprite($icons, logo-l);	
	@include transform-origin(100%, 100%)
}
.logo__wing-r {
	right: -56px;
	@include sized-sprite($icons, logo-r);
	@include transform-origin(0%, 100%)
}
//nav
.nav {
	position: absolute;
	top: 0;
	left: 438px;
	padding: 7px 3px 9px 15px;
	background: $blue;	
	overflow: hidden;
	li {
		float: left;
		margin-right: 16px;
	}
	a {
		display: block;
		padding: 0 10px;
		font: 18px/26px 'plumbbold', Arial, sans-serif;
		color: #fff;
		border: 2px solid $blue;	
		&:hover {
			border: 2px solid $green;	
		}
		&:active {
			border: 2px solid $pink;	
			background: $pink;
		}
	}
}
.nav-sub {
	position: absolute;
	top: 63px;
	left: 450px;
	overflow: hidden;
	li {
		float: left;
		margin-right: 20px;
	}
	a {
		font: 16px 'plumbregular', Arial, sans-serif; 
		@extend .link;
	}
}
//enter
.enter {
	position: absolute;
	top: 0;
	right: 0;
	width: 143px;
	height: 45px;
	padding-left: 27px;
	background: #5371b1; 	
	span {
		position: absolute;
	}
	&:hover {
		.enter__us {
			color: $green;
		}
		.enter__fb, .enter__vk {
			border: 1px solid #d9dee0;
		}
	}
}
.enter__us {
	top: 13px;
	left: 27px;
	font: 16px 'plumbregular', Arial, sans-serif; 
	color: #fff;
}
.enter__fb, .enter__vk {
	top: 11px;
}
.enter__fb {
	top: 11px;
	right: 51px;
	@include sized-sprite($icons, fb);
	border: 1px solid #1c5e97;
}
.enter__vk {
	top: 11px;
	right: 17px;
	@include sized-sprite($icons, vk);
	border: 1px solid #4e83a6;
}
//footer 
.footer-wrap {
	background: $blue;
}
.footer {
	position: relative;
	width: 1247px;
	height: 217px;
	padding-top: 24px;
	margin: 0 auto;
	overflow: hidden;
}
.footer__left {
	float: left;
	width: 275px;
	padding-left: 10px;
}
.footer__logo {
	position: relative;
	margin-bottom: 31px;
	padding-top: 36px;
	i {
		position: absolute;
		top: 7px;
		left: 0;
		@include sized-sprite($icons, logo-f);
	}
	span {
		margin-left: 5px;
		font-size: 12px;
		color: #fff;
	}
}
.footer__nav {
	float: left;
	padding-top: 8px;
	color: #fff;
	ul {
		float: left;
	}
	li {
		font-size: 18px;
		margin-bottom: 3px;
	}
	a {
		font-size: 12px;
		text-decoration: underline;
		color: #fff;
		&:hover {
			text-decoration: none;
			color: $green;
		}
		&:active {
			color: $pink;
		}
	}
}
.footer__nav-1 {width: 177px;}
.footer__nav-2 {width: 240px;}
.facebook {
	float: right;
}
//saerch 
.search {
	overflow: hidden;
	input {
		height: 25px;
	}
}
.search__txt {
	float: left;
	width: 132px;
	padding: 0 9px;
	margin-right: 7px;
	font-size: 14px;
	&::-webkit-input-placeholder {
		color: $dark;
	}
	&:-moz-placeholder {
		color: $dark;
	}
}
.search__btn {
	width: 66px;
	background: $pink;
	border: 2px solid $pink;
	text-align: center;
	font: 14px 'plumbregular', Arial, sans-serif;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: $blue;
		border-color: $gray;
	}
}
//breadcrumps 
.breadcrumps {
	padding-left: 10px;
	overflow: hidden;	
	li {
		float: left;
	}
	a {
		@extend .link;
	}
	span {
		margin: 0 8px;
	}
}
//advertising
.advertising {
	margin-bottom: 35px;
}
//banner
.banner {
	margin-bottom: 54px;
	img {
		display: block;
	}
}
