@import "base";
/* default layout */
.l {
	width: 100%;
	display: inline-block;
	.l-col1 {
		float: left;
		width: 927px;
	}	
	.l-col2 {
		float: right;
		width: 273px;
	}
	.l-col3 {
		float: left;
		width: 740px;
		margin-right: 36px;
	}
	.l-col4 {
		float: left;
		width: 176px;
	}
}