@import "base";
//main styles
.main-top {
	margin-bottom: 52px;
	overflow: hidden;
}
//about
.about {
	float: left;
	width: 392px;
	font-family: 'plumbregular', Arial, sans-serif;
}
.about__desc {
	padding: 0 20px 0 10px;
	span {
		display: block;
		padding: 20px 0 19px 0;
		font: 18px 'plumbbold', Arial, sans-serif;
	}	
	p {
		margin-bottom: 10px;
		line-height: 1.5;
	}
	a {
		@extend .link;
	}
}
//main-news and article-news
.main-news, .article-news {
	padding-left: 10px;	
	overflow: hidden;
	li {
		float: left;		
	}
	img {
		display: block;
		margin-bottom: 20px;
	}
	.h3 {
		margin-bottom: 20px;
		font-weight: normal;
	}
	a {
		@extend .link;
	}
	p {
		line-height: 1.5;
	}
}
.main-news {
	margin: 0 -30px 47px 0;
	li {
		width: 290px;
		margin-right: 23px;
	}
}
.article-news {
	margin: 0 0 65px 0;
	li {
		width: 274px;
		margin-right: 47px;
	}
}
//girlfriends
.girlfriends {
	margin-bottom: 65px;
	font-size: 12px;
	.title {
		margin-bottom: 32px;
	}
	ul {
		padding-left: 10px;
		overflow: hidden;
	}
	li {
		position: relative;
		float: left;
		width: 140px;
		padding-right: 43px;
	}
	img {
		float: left;
		margin-right: 7px;
	}
	a {		
		@extend .link;
	}
}
.girlfriends__car {
	position: absolute;
	top: 33px;
	left: 83px;
	width: 70px;
	color: $dark;
	i {
		position: absolute;
		top: 0;
		left: -16px;
		width: 12px;
		height: 12px;
	}
}
//catalog main
.catalog_main {
	margin-bottom: 0px;
	.title {
		margin-bottom: 35px;
	}
	.catalog__list {
		margin-bottom: 25px;
	}
	.catalog__cars { 
		padding-left: 10px;
		li {
			width: 186px;
			height: 268px;
			margin: 0 55px 0 0;
		}
	}
	.catalog__pic {
		width: 186px;
		height: 186px;
	}
}